<div id="<%= dom_id staff %>">
  <p>
    <strong>First name:</strong>
    <%= staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= staff.last_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= staff.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= staff.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= staff.phone %>
  </p>

</div>
