<h1>Student List</h1>

<table class="table">
  <thead class="table-light">
    <tr>
      <th>Student Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.gender %></td>
        <td><%= student.parent_email %></td>
        <td>
          <%= link_to 'View Info', stuInfo_staff_path(id: student.id), class: 'btn btn-success' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'Back', staffs_path, class: 'btn btn-primary' %> -->