<h1>Student Information</h1>
<table class="table">
  <tr>
    <th>Student Id</th>
    <td><%= @student.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= "#{@student.first_name} #{@student.last_name}" %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @student.gender %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @student.parent_email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= @student.parent_phone %></td>
  </tr>
</table>
<%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-primary' %>
<br>
<br>
<h1>Activity List</h1>
<table class="table">
  <thead class="table-light">
    <tr>
      <th>Activity Title</th>
      <th>Description</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <% @attended_activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_title %></td>
        <td><%= activity.description %></td>
        <!-- Add more columns as needed -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-primary' %>
