<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>
  <p>
    <strong>Budget:</strong>
    <%= club.budget %>
  </p>
  <p>
    <strong>Capacity:</strong>
    <%= club.capacity %>
  </p>
  <p>
    <strong>Advisor ID:</strong>
    <%= club.staff.full_name %>
  </p>
</div>
