<div id="<%= dom_id club %>" class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title"><strong>Club Name:</strong> <%= club.name %></h5>
    <p class="card-text">
      <strong>Description:</strong>
      <%= club.description %>
    </p>
    <p class="card-text">
      <strong>Budget:</strong>
      <%= club.budget %>
    </p>
    <p class="card-text">
      <strong>Capacity:</strong>
      <%= club.capacity %>
    </p>

  </div>
</div>
