<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>
      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control", id: "floatingInput", placeholder: "Name" %>
    <%= form.label :name, "Name", class: "form-label" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_area :description, class: "form-control", id: "floatingTextarea", placeholder: "Description" %>
    <%= form.label :description, "Description", class: "form-label" %>
  </div>
  <div class="form-floating mb-3" >
    <%= form.text_field :budget, class: "form-control", id: "floatingInput", placeholder: "Budget (RM)", readonly: true, hidden: true  %>
    <%= form.label :budget, "Budget (RM)", class: "form-label" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.number_field :capacity, class: "form-control", id: "floatingNumber", placeholder: "Capacity" %>
    <%= form.label :capacity, "Capacity", class: "form-label" %>
  </div>

    <div class="form-floating mb-3">
    <%= form.select :categories, options_for_select(['Academic', 'Sports', 'Uniformed Units'], selected: club.categories), { prompt: 'Select a Category' }, { class: 'form-select' } %>
    <%= form.label :categories, "Club Category", class: "form-label" %>
  </div>

  <div>
    <%= form.submit "Save Club", class:"btn btn-success btn-block" %>
  </div>
<% end %>
