<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>
      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="">
    <label for="name" class="form-label" >Name</label>
  </div>
  <div class="form-floating mb-3">
    <textarea type="textarea" class="form-control" id="floatingInput" placeholder="">
     </textarea>
    <label for="description" class="form-label">Description</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="">
    <label for="budget" class="form-label" >Budget</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="">
    <label for="capacity" class="form-label" >Capacity</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="">
    <label for="budget" class="form-label" >Select a Staff Member</label>
    <%= form.label :staff_id %>
    <%= form.collection_select(:staff_id, @staff_members, :id, :full_name, prompt: "Select a Staff Member") %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
