<p style="color: green"><%= notice %></p>
<%= render @club %>
<div>
  <%= link_to "Edit Club", edit_club_path(@club), class:"btn btn-primary btn-lg" %> |
  <%= link_to "Back to clubs", clubs_path, class:"btn btn-secondary btn-lg" %>
  <br>
  <br>
  <%= button_to "Delete Club", @club, method: :delete, class:"btn btn-danger btn-sm" %>
</div>
