<table class="table table-striped table-hover table-bordered border-dark">
  <thead class="table-success">
    <tr>
      <th>Student Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= "#{student.first_name} #{student.last_name}" %></td>
        <td><%= student.gender %></td>
        <td><%= student.parent_phone %></td>
        <td><%= student.parent_email %></td>
        <td>
          <%= link_to 'View Info', stuInfo_staff_path(id: student.id), class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-secondary" onclick="window.history.back()">Back Dashboard</button>
