<table class="table table-striped">
    <tr>
      <th>Student Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <th class="text-center">Action</th>
    </tr>
  
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= "#{student.first_name} #{student.last_name}" %></td>
        <td><%= student.gender %></td>
        <td><%= student.parent_phone %></td>
        <td><%= student.parent_email %></td>
        <td class="text-center">
          <%= link_to 'View Information', stuInfo_staff_path(id: student.id), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-primary mb-3 col-12" onclick="window.history.back()">Back Dashboard</button>
