<% if current_user.is_a?(Staff) %>
  <h1>Hello Dear <%= current_user.first_name %></h1>
  <h3 class="card-title">Clubs assigned: </h3>
  <br>
  <table class="table table-striped table-hover table-bordered border-dark">
    <thead class="table-success">
      <tr>
        <th>Name</th>
        <th>Budget</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.club_advisors.each do |club_advisor| %>
        <tr>
          <td><%= club_advisor.club.name %></td>
          <td><%= club_advisor.club.budget %></td>
          <td>
            <%= button_to "Show Students", show_students_path(staff_id: club_advisor.id, club_id: club_advisor.club.id), method: :get, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h1>Activities</h1>
  <table class="table table-striped table-hover table-bordered border-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Requested Budget</th>
      <th>Club Name</th>
      <th>Status</th>
      <th colspan="2" style="text-align: center;">Actions</th>
    </tr>
    <% current_user.staff_activities.each do |staff_activity| %>
      <tr>
        <td><%= staff_activity.activity.activity_title %></td>
        <td><%= staff_activity.activity.description %></td>
        <td><%= staff_activity.activity.start_date %></td>
        <td><%= staff_activity.activity.end_date %></td>
        <td><%= staff_activity.activity.requested_budget %></td>
        <td><%= staff_activity.activity.club.name %></td>
        <td><%= staff_activity.activity.status %></td>
        <td><%= link_to 'Show Activity', staff_activity.activity, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Attendance', new_attendance_path(activity_id: staff_activity.activity.id), class: 'btn btn-info btn-sm' %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>
<% elsif current_user.is_a?(Student) %>
 <% if current_user.club_members.any? %>
    <h1>Your Club</h1>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Budget</th>
        <th>Capacity</th>
        <th>Categories</th>
      </tr>
      <% current_user.club_members.each do |club_member| %>
        <tr>
          <td><%= club_member.club.name %></td>
          <td><%= club_member.club.description %></td>
          <td><%= club_member.club.budget %></td>
          <td><%= club_member.club.capacity %></td>
          <td><%= club_member.club.categories %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
  <!--<%= current_user.id%>-->
<%= link_to "Enroll Club", new_club_member_path(student_id: current_user.id), class: "btn btn-primary btn-block" %>
<br>
  <% end %>
  <h1>Activities </h1>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Club</th>
      <th>Status</th>
    </tr>
    <% current_user.attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.activity.activity_title %></td>
        <td><%= attendance.activity.description %></td>
        <td><%= attendance.activity.start_date %></td>
        <td><%= attendance.activity.end_date %></td>
        <td><%= attendance.activity.club.name %></td>
        <td><%= attendance.activity.status %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
  <h1>External Activities</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    <% current_user.extra_activities.each do |extra_activity| %>
      <tr>
        <td><%= extra_activity.name %></td>
        <td><%= extra_activity.description %></td>
        <td><%= extra_activity.start_date %></td>
        <td><%= extra_activity.end_date %></td>
        <td>        <%= link_to "Show this extra activity", extra_activity %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Submit External Activity", new_extra_activity_path, class: "btn btn-primary" %>
   <br><br>
<% end %>