<% if current_user.is_a?(Staff) %>
<div class="myTable">
<h3> Assigned Clubs </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Club Name</th>
        <th>Budget (RM)</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.club_advisors.each do |club_advisor| %>
        <tr>
          <td data-label="Club Name:"><%= club_advisor.club.name %></td>
          <td data-label="Budget (RM):"><%= number_with_precision(club_advisor.club.budget, precision: 2) %></td>
          <td>
            <%= button_to "Show Assigned Students", show_students_path(staff_id: club_advisor.staff.id, club_id: club_advisor.club.id), method: :get, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br><br>
  <h3> Activities </h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Requested Budget (RM)</th>
        <th>Club Name</th>
        <th>Status</th>
 
        <th colspan="2"style="text-align: center;" >Actions</th>
      </tr>
    </thead>
    
    <tbody>
      <% ClubAdvisor.where(staff_id: current_user.id).each do |club_advisor| %>
  <% club = club_advisor.club %>
  <% club.activities.each do |activity| %>
    <tr>
      <td data-label = "Title:"><%= activity.activity_title %></td>
      <td data-label = "Description:"><%= activity.description %></td>
      <td data-label = "Requested Budget (RM):"><%= number_with_precision(activity.requested_budget, precision: 2) %></td>
      <td data-label = "Club Name:"><%= club.name %></td>
      <td data-label = "Status:"><%= activity.status %></td>

      <td ><%= link_to 'Manage', activity, class: 'btn btn-primary btn-sm' %></td>
      <td ><%= link_to 'Attendance', new_attendance_path(activity_id: activity.id), class: 'btn btn-info btn-sm' %></td>
    </tr>
  <% end %>
<% end %>
    </tbody>
  </table>
  <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success mb-3 col-12' %>
</div>
<% elsif current_user.is_a?(Student) %>
  <% if current_user.club_members.any? %>
    <h1>Enrolled Clubs</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.club_members.each do |club_member| %>
        <tr>
          <td data-label = "Category" ><%= club_member.club.categories %></td>
          <td data-label = "Name"><%= club_member.club.name %></td>
          <td data-label = "Description"><%= club_member.club.description %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% else %>
    <!--<%= current_user.id%>-->
    <%= link_to "Enroll Club", new_club_member_path(student_id: current_user.id), class: "btn btn-primary mb-3 col-12" %>
    <br>
  <% end %>
    <br><br>
  <h1>Activity Participation</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Club</th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class='text-center'>Media</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.attendances.each do |attendance| %>
        <tr>
          <td data-label = "Club" ><%= attendance.activity.club.name %></td>
          <td data-label = "Title" ><%= attendance.activity.activity_title %></td>
          <td data-label = "Description" ><%= attendance.activity.description %></td>
          <td data-label = "Start Date" ><%= attendance.activity.start_date %></td>
          <td data-label = "End Date"><%= attendance.activity.end_date %></td>
          <td data-label = "Media">
            <% if attendance && attendance.activity && attendance.activity.media %>
              <%= link_to 'Download Media', attendance_media_path(attendance.id), download: attendance.activity.media['filename'] %>
            <% else %>
              No Media Available
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br><br>
  <h1>External Activity Participation</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class='text-center'>Action</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.extra_activities.each do |extra_activity| %>
        <tr>
          <td data-label = "Name"><%= extra_activity.name %></td>
          <td data-label = "Description"><%= extra_activity.description %></td>
          <td data-label = "Start Date"><%= extra_activity.start_date %></td>
          <td data-label = "End Date"><%= extra_activity.end_date %></td>
          <td class='text-center'><%= link_to "Show", extra_activity, class: "btn btn-primary"%>
          </td>
        </tr>
      <% end %>
    </tbody>

    
  </table>
  <%= link_to "Submit External Activity", new_extra_activity_path, class: "btn btn-success mb-3 col-12" %>
  <br>
  <br>
<% end %>