<%= form_with(model: club_advisor) do |form| %>
  <% if club_advisor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(club_advisor.errors.count, "error") %> prohibited this club_advisor from being saved:</h2>

      <ul>
        <% club_advisor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :club_id, style: "display: block" %>
    <%= form.text_field :club_id %>
  </div>

  <div>
    <%= form.label :staff_id, style: "display: block" %>
    <%= form.text_field :staff_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
