<!--<p style="color: green"><%= notice %></p>-->

<h1>Inventory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Equipment Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td data-label = "Equipment Name" ><%= inventory.name %></td>
        <td data-label = "Description" ><%= inventory.description %></td>
        <td data-label = "Quantity"><%= inventory.quantity %></td>
        <td><%= link_to "View History", inventory_path(inventory), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to "Update Inventory", edit_inventory_path(inventory), class: 'btn btn-warning btn-sm' %></td>
        <!--<td><%= link_to 'Update Quantity', new_inventory_history_path(inventory_id: inventory.id), class: 'btn btn-primary' %></td>-->
        
      </tr>
    <% end %>
  </tbody>

  <%= form_with(model: Inventory.new, url: inventories_path, method: :post) do |form| %>
    <% if Inventory.new.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(Inventory.new.errors.count, "error") %> prohibited this inventory from being saved:</h2>
        <ul>
          <% Inventory.new.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <tr>
      <td>
         <div class="mb-3">
          <%= form.text_field :name, class: "form-control", placeholder: "New Equipment Name", id: "floatingInput"%>
        </div>
      </td>
      <td>
        <div class="mb-3">
          <%= form.text_field :description, class: "form-control", placeholder: "Equipment Description", rows: 3, id: "floatingInput" %>
        </div>
      </td>
      <td>
        <div class="mb-3">
          <%= form.number_field :quantity, class: "form-control", placeholder: "Equipment Quantity", id: "floatingNumber" %>
        </div>
      </td>
      <td colspan = "2" class = "text-center">
        <div class="w-100">
          <%= form.submit "Add", class: "btn btn-success btn-block" %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<br><br>

<%= link_to 'Generate Inventory Report', generate_report_inventories_path(format: :csv), class: 'btn btn-success btn-sm float-end mb-3 col-12' %>


<!--<%= link_to "New inventory", new_inventory_path, class: 'btn btn-success' %>-->