<p style="color: green"><%= notice %></p>

<h1>Inventory</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Equipment Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th colspan="3" class="text-center"><div class="text-center">Actions</div></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.name %></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.quantity %></td>
        <td><%= link_to "View History", inventory_path(inventory), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to "Edit Equipment", edit_inventory_path(inventory), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Update Quantity', new_inventory_history_path(inventory_id: inventory.id), class: 'btn btn-primary' %></td>
        
      </tr>
    <% end %>
  </tbody>

  <%= form_with(model: Inventory.new, url: inventories_path, method: :post) do |form| %>
    <% if Inventory.new.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(Inventory.new.errors.count, "error") %> prohibited this inventory from being saved:</h2>
        <ul>
          <% Inventory.new.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <tr>
      <td><%= form.text_field :name, placeholder: "New equipment name" %></td>
      <td><%= form.text_field :description, placeholder: "New equipment description", style: "width: 20em;" %></td>
       <td><%= form.number_field :quantity, placeholder: "Quantity", style: "width: 6em;" %></td>
      <td class="text-center" colspan="3"><%= form.submit "Add", class: "btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>
<br><br>


<!--<%= link_to "New inventory", new_inventory_path, class: 'btn btn-success' %>-->
