<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Parent phone:</strong>
    <%= student.parent_phone %>
  </p>

  <p>
    <strong>Parent email:</strong>
    <%= student.parent_email %>
  </p>

</div>
