<p style="color: green"><%= notice %></p>

<%= render @inventory_history %>

<div>
  <!--<%= link_to "Edit this inventory history", edit_inventory_history_path(@inventory_history) %> |-->
  <%= link_to "Back to inventory histories", inventory_histories_path %>

  <!--<%= button_to "Destroy this inventory history", @inventory_history, method: :delete %>-->
</div>
