<%= form_with(model: staff_activity) do |form| %>
  <% if staff_activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(staff_activity.errors.count, "error") %> prohibited this staff_activity from being saved:</h2>

      <ul>
        <% staff_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :staff_id, style: "display: block" %>
    <%= form.text_field :staff_id %>
  </div>

  <div>
    <%= form.label :activity_id, style: "display: block" %>
    <%= form.text_field :activity_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
