<p style="color: green"><%= notice %></p>

<%= render @staff_activity %>

<div>
  <%= link_to "Edit this staff activity", edit_staff_activity_path(@staff_activity) %> |
  <%= link_to "Back to staff activities", staff_activities_path %>

  <%= button_to "Destroy this staff activity", @staff_activity, method: :delete %>
</div>
