<div id="<%= dom_id extra_activity %>">
  <p>
    <strong>Name:</strong>
    <%= extra_activity.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= extra_activity.description %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= extra_activity.student_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= extra_activity.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= extra_activity.end_date %>
  </p>

</div>
