<%= form_with(model: extra_activity) do |form| %>
  <% if extra_activity.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(extra_activity.errors.count, "error") %> prohibited this extra_activity from being saved:</h2>
      <ul>
        <% extra_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="mb-3">
  <%= form.label :name, class: "form-label", style: "display: block" %>
  <%= form.text_field :name, class: "form-control", id: "floatingInput", placeholder: "Activity Title" %>
</div>
<div class="mb-3">
  <%= form.label :description, class: "form-label", style: "display: block" %>
  <%= form.text_area :description, class: "form-control", id: "floatingTextarea", placeholder: "Description" %>
</div>
<div class="mb-3">
  <%= form.label :start_date, class: "form-label", style: "display: block" %>
  <%= form.date_field :start_date, class: "form-control", id: "floatingDateStart", placeholder: "Start Date" %>
</div>
<div class="mb-3">
  <%= form.label :end_date, class: "form-label", style: "display: block" %>
  <%= form.date_field :end_date, class: "form-control", id: "floatingDateEnd", placeholder: "End Date" %>
</div>
<div class="mb-3">
  <%= form.label :evidence, class: "form-label", style: "display: block" %>
  <%= form.file_field :evidence, class: "form-control" %>
</div>

  <div>
    <%= form.submit "Save Activity", class: "btn btn-success mb-3 col-12" %>
  </div>
<% end %>
