<p style="color: green"><%= notice %></p>

<%= render @extra_activity %>

<div>
  <%= link_to "Edit this extra activity", edit_extra_activity_path(@extra_activity) %> |
  <%= link_to "Back to extra activities", extra_activities_path %>

  <%= button_to "Destroy this extra activity", @extra_activity, method: :delete %>
</div>
