<div class="dashboard-container">
  <div class="dashboard "> <!-- Added the  class -->
    <div class="circle-icon">
      <!-- Use image_path to get the correct image URL -->
      <img src="<%= image_path('student.png') %>" alt="Icon">
    </div>
    <div class="dashboard-text">STUDENTS</div>
    <div class="dashboard-number"><%= Student.count %></div>
  </div>
  <div class="dashboard "> <!-- Added the  class -->
    <div class="circle-icon">
      <!-- Use image_path to get the correct image URL -->
      <img src="<%= image_path('staff.png') %>" alt="Icon">
    </div>
    <div class="dashboard-text">STAFF</div>
    <div class="dashboard-number"><%= Staff.count %></div>
  </div>
  <div class="dashboard "> <!-- Added the  class -->
    <div class="circle-icon">
      <!-- Use image_path to get the correct image URL -->
      <img src="<%= image_path('activity.png') %>" alt="Icon">
    </div>
    <div class="dashboard-text">ACTIVITIES</div>
    <div class="dashboard-number"><%= Activity.count %></div>
  </div>
</div>
