<div class="user-card">
  <img src="<%= image_path('student.png') %>" alt="Profile Picture" class="profile-pic">
  <div class="user-info">
    <div class="username">
        <% if current_user.is_a?(Student) %> 
          <p>Welcome, <%= current_user.full_name %>! </p> 
        <% elsif current_user.is_a?(Staff) %> 
          <p>Welcome, <%= current_user.full_name %>! </p> 
        <% elsif current_user.is_a?(Admin) %> 
          <p>Welcome, <%= current_user.full_name %>!</p> 
        <% end %>
    </div>
    <%= link_to "logout", logout_path, method: :delete %>
  </div>
</div>