<div id="<%= dom_id activity %>">
  <p>
    <strong>Activity title:</strong>
    <%= activity.activity_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= activity.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= activity.end_date %>
  </p>

  <p>
    <strong>Allocated budget:</strong>
    <%= activity.allocated_budget %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= activity.club_id %>
  </p>

  <p>
    <strong>Achievement:</strong>
    <%= activity.achievement %>
  </p>

</div>
