<div id="<%= dom_id activity %>" class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title"><strong>Activity Title:</strong> <%= activity.activity_title %></h5>
    <p class="card-text">
      <strong>Description:</strong>
      <%= activity.description %>
    </p>
    <p class="card-text">
      <strong>Start Date:</strong>
      <%= activity.start_date %>
    </p>
    <p class="card-text">
      <strong>End Date:</strong>
      <%= activity.end_date %>
    </p>
    <p class="card-text">
      <strong>Allocated Budget (RM):</strong>
      <%= number_with_precision(activity.requested_budget, precision: 2) %>
    </p>
    <p class="card-text">
      <strong>Club:</strong>
      <%= activity.club_id %>
    </p>
  </div>
</div>
