<p style="color: green"><%= notice %></p>

<h1>Activities</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Activity Title</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Allocated Budget</th>
      <th>Club ID</th>
      <th>Achievement</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.start_date %></td>
        <td><%= activity.end_date %></td>
        <td><%= activity.allocated_budget %></td>
        <td><%= activity.club_id %></td>
        <td><%= activity.achievement %></td>
        <td><%= link_to 'Show', activity, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Attendance', new_attendance_path(activity_id: activity.id), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>  
