<!-- app/views/activities/show.html.erb -->
<div class="container mt-4">
  <h1>Activity Details</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Activity Title</th>
        <td><%= @activity.activity_title %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @activity.description %></td>
      </tr>
      <tr>
        <th scope="row">Start Date</th>
        <td><%= @activity.start_date %></td>
      </tr>
      <tr>
        <th scope="row">End Date</th>
        <td><%= @activity.end_date %></td>
      </tr>
      <tr>
        <th scope="row">Requested Budget</th>
        <td><%= @activity.requested_budget %></td>
      </tr>
      <tr>
        <th scope="row">Club</th>
        <td><%= @activity.club.name if @activity.club %></td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group-vertical" role="group">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <%= csrf_meta_tags %>
    <label for="mediaFile">Upload Media:</label>
    <input type="file" id="mediaFile" name="mediaFile" accept="image/*, video/*">
    <input type="submit" value="Upload" class="btn btn-info btn-sm mt-2">
  </form>
  <%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-warning btn-sm mt-2" %>
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary btn-sm mt-2" %>
  <%= button_to "Delete this activity", @activity, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm mt-2" %>
</div>
</div>
