<!-- app/views/activities/show.html.erb -->

<% if @activity %>
  <h1><%= @activity.activity_title %></h1>

  <p><strong>Description:</strong> <%= @activity.description %></p>
  <p><strong>Start Date:</strong> <%= @activity.start_date %></p>
  <p><strong>End Date:</strong> <%= @activity.end_date %></p>
  <p><strong>Allocated Budget:</strong> <%= @activity.allocated_budget %></p>
  <p><strong>Achievement:</strong> <%= @activity.achievement %></p>

  <%= link_to "Back", activities_path %>
<% else %>
  <p>Activity not found.</p>
<% end %>
