<!-- app/views/activities/show.html.erb -->

<div class="container mt-4">
  <h1>Activity Details</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Activity Title</th>
        <td><%= @activity.activity_title %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @activity.description %></td>
      </tr>
      <tr>
        <th scope="row">Start Date</th>
        <td><%= @activity.start_date %></td>
      </tr>
      <!-- Add more rows for other attributes as needed -->
    </tbody>
  </table>

  <div class="btn-group-vertical" role="group">
    <%= button_to "Delete this activity", @activity, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
    <%= link_to "Back to Activities", activities_path, class: "btn btn-primary mt-2" %>
  </div>
</div>
