<!-- app/views/activities/show.html.erb -->
<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>
<div class="container mt-4">
  <h1>Activity Details</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Activity Title</th>
        <td><%= @activity.activity_title %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @activity.description %></td>
      </tr>
      <tr>
        <th scope="row">Start Date</th>
        <td><%= @activity.start_date %></td>
      </tr>
      <tr>
        <th scope="row">End Date</th>
        <td><%= @activity.end_date %></td>
      </tr>
      <tr>
        <th scope="row">Requested Budget (RM)</th>
        <td><%= number_with_precision(@activity.requested_budget, precision: 2) %></td>
      </tr>
      <tr>
        <th scope="row">Club</th>
        <td><%= @activity.club.name if @activity.club %></td>
      </tr>
      <tr>
        <%= form_tag({ action: 'upload', id: @activity.id }, multipart: true, remote: true, html: { id: 'upload-form' }) do %>
      <%= hidden_field_tag :id, @activity.id %>
      <%= csrf_meta_tags %>
        <th scope="row">Upload Media</th>
        <td><input type="file" id="mediaFile" name="mediaFile" accept="image/*, video/*">
            <input type="submit" value="Upload" class="btn btn-info"></td>
            <% end %>
      </tr>
      
      <% if @activity.media %>
      <tr>
        <th scope="row">Media Uploaded</th>
        <td><%= @activity.media['filename'] %><%= link_to ' Download Media', activity_media_path(@activity.id), download: @activity.media['filename'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-warning mb-3 col-12" %>
    <%= button_to "Delete this activity", @activity, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-3 col-12" %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-primary mb-3 col-12" %>
  </div>
</div>
