<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Attendance For: <%= form.label :activity_id, value: @activity.activity_title %>
  </h1>
  <%= form.text_field :activity_id, value: @activity.id, hidden: true %>
  <div class="text-center">
    <button type="button" id="toggleCheckboxes" class="btn btn-primary">Unsellect All</button>
  </div>
  <table class="table  text-center">
    <thead class="table-light">
      <tr>
        <th>Student Name</th>
        <th>Attend Status</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td class="p-2"><%= form.label :student_ids, student.full_name %></td>
          <td class=""><%= form.check_box :student_ids, { multiple: true, checked: true }, student.id, nil %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='text-center'>
    <%= form.submit 'Submit Activity Attendance', class: 'btn btn-success' %>
  </div>
<% end %>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Add a click event listener to the button
    document.getElementById('toggleCheckboxes').addEventListener('click', function() {
      // Select all checkboxes and toggle their checked state
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = !checkbox.checked;
      });
    });
  });
</script>
