<!DOCTYPE html>
<html>
<head>
  <title>Rails Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Link to your CSS file -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Render the header partial -->
  <%= render 'layouts/header' %>
  <!-- Create a container for the main content -->
  <div class="big_con">
    <!-- Render the sidebar partial -->
    <%= render 'layouts/sideBar' %>
    <!-- Render the content of each view file -->
    <div class="left_container">
      <!-- Render the miniDash partial -->
      <%= render 'layouts/miniDash' %>
      <!-- Create a container for the two graphs -->
      <div class="dashboard-container">
        <!-- Render the graph1 partial -->
        <%= render 'layouts/graph1' %>
        <!-- Render the graph2 partial -->
        <%= render 'layouts/graph2' %>

      </div>
    </div>
    <!-- Create a container for the right section -->
    <div class="right_container">
      <!-- Render the calendar partial -->
      <%= render 'layouts/calendar' %>
      <!-- Render the upcoming events partial -->
      <%= render 'layouts/upcomingEvents' %>
    </div>
  </div>
</body>
</html>
